table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 6px 50px;
}
th{
    background-color: aqua;
    color: rgb(34, 0, 255);
}

.heading{
  place-items: center; 
}
.wrapper {
  display: grid;
  place-items: center; /* centers in both axes */
  /*min-height: 100vh;*/
}

.btn {
  display: inline-block;
  padding-top: 14px;
  border-radius: 6px;
  border: 2px solid rgba(170, 255, 144, 0.79);
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  background: green;
  color: white;
}

.btn:hover {
  background: #79b0e7;
}
.btn1 {
  display: inline-block;
  background: rgb(61, 79, 91);
  padding: 8px;
  color: white;
  text-decoration: none;
  border-radius: 10%;
  border-color: rgb(255, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
        /* optional spacing */

  /* background: #333; */
    padding: 5px 10px;
  color: rgb(15, 15, 15);
  background-color: aqua;
}

