/* .form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */

form{
    border: 2px solid red;
    border-radius: 5px;
    /* padding: 10px; */
    padding-bottom: 100px;
}

nav{
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}
.navhd{
    text-align: center;
}
#salaryForm{
    display: flex;
    justify-content: space-evenly;
}
button{
    padding: 15px 100px;
    background-color: rgb(0, 195, 255);
    border: none;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}

