<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Department</title>
    <link rel="stylesheet" href="/static/editdept.css">
</head>
    <body>
        <nav>
            <h2 class="navhd">EDIT EXISTING DEPARTMENT</h2>
        </nav> 
        <form method="POST">
            <div class="insideform">
            <h2>Edit Department</h2>
            Department Id: <input type="number" name="depid" value="{{ department[0] }}" ><br><br>
            Department Name: <input type="text" name="deptname" value="{{ department[1] }}"><br><br>
            <button type="submit">Update</button>
            </div>
        </form>
    </body>
</html>